.c-rounded{
        border-radius: 0.75rem;
}
.c-bg-light{
    background-color: #FEEAE9;
}
.c-card{
    border:none;
}
.c-card-footer{
    background-color:none;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
}
.category a img{
    width: 50%;
}